body{
    font-family: 'Caveat', cursive;
}
.golovne-pole {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: 865px;
    margin: auto;
    background-color: rgb(209, 250, 250);
    box-shadow: 16px 16px 20px rgba(214, 7, 7, 0.1);
    padding: 30px 30px;
}
.right {
    background-color: blanchedalmond;
    width: 400px;

}
.left{
background-color: rgb(227, 229, 248);
width: 800px;
}
.photo{
    margin-top: 50px;

}
.name{
font-size:55px;
}
.hto{
    margin-left: 50px;
    font-size: 35px;
}

.song{
    width: 600px;
    margin-left: 50px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.video{
    text-align: center;
}
.foot{
text-align: center;
}
.yap{
   margin-left: 400px;
   font-size: 20px;
}